<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{ site.title }}</title>
  <meta name="description" content="{{ site.description | escape }}">
  <link rel="canonical" href="{{ site.url }}/">
  <link rel="stylesheet" href="{{ '/assets/main.css' | relative_url }}">
  <link type="application/atom+xml" rel="alternate" href="{{ '/feed.xml' | relative_url }}" title="{{ site.title }}">
</head>
<body>
  {% include header.html %}
  <main class="page-content" aria-label="Content">
    <div class="wrapper">
      <article class="post">
        <header class="post-header">
          <h1 class="post-title">{{ page.heading }}</h1>
        </header>

        {% capture me_left %}{% include_relative me-left.md %}{% endcapture %}
        {{ me_left | markdownify }}

        <div class="post-content">
          {{ content }}

          {% assign publications = site.publications | sort: "month" | sort: "year" | reverse %}
          {% for pub in publications %}
          <div class="pubitem">
            <div class="pubteaser">
              <a href="{% if pub.link != '' and pub.link %}{{ pub.link }}{% else %}{{ pub.url }}{% endif %}">
                <img src="{{ '/assets/images/publications/' | relative_url }}{{ pub.slug }}.png" alt="{{ pub.title }}"/>
              </a>
            </div>
            <div class="pubdetails">
              <div class="pubtitle">{{ pub.title }}</div>
              <div class="pubauthors">{{ pub.authors }}</div>
              <div class="pubinfo">{{ pub.publication }}, {{ pub.year }}</div>
              <div class="publinks">
                {% if pub.pdf and pub.pdf != '' %}<a href="{{ pub.pdf }}">[PDF]</a>&nbsp; {% endif %}
                {% if pub.link and pub.link != '' %}<a href="{{ pub.link }}">[Project Page]</a>&nbsp; {% endif %}
                {% if pub.code and pub.code != '' %}<a href="{{ pub.code }}">[Code]</a>{% endif %}
              </div>
            </div>
          </div>
          <hr>
          {% endfor %}

          {% assign projects = site.projects | sort: "year" | reverse %}
          {% if projects.size > 0 %}
          <h1><span style="color:#A31F34"><b>Projects</b></span></h1>
          {% for pub in projects %}
          <div class="pubitem">
            <div class="pubteaser">
              <a href="{% if pub.link != '' and pub.link %}{{ pub.link }}{% else %}{{ pub.url }}{% endif %}">
                <img src="{{ '/assets/images/publications/' | relative_url }}{{ pub.slug }}.png" alt="{{ pub.title }}"/>
              </a>
            </div>
            <div class="pubdetails">
              <div class="pubtitle">{{ pub.title }}</div>
              <div class="pubauthors">{{ pub.authors }}</div>
              <div class="pubinfo">{{ pub.publication }}, {{ pub.year }}</div>
              <div class="publinks">
                {% if pub.pdf and pub.pdf != '' %}<a href="{{ pub.pdf }}">[PDF]</a>&nbsp; {% endif %}
                {% if pub.link and pub.link != '' %}<a href="{{ pub.link }}">[Project Page]</a>&nbsp; {% endif %}
                {% if pub.code and pub.code != '' %}<a href="{{ pub.code }}">[Code]</a>{% endif %}
              </div>
            </div>
          </div>
          <hr>
          {% endfor %}
          {% endif %}
        </div>
      </article>
    </div>
  </main>
  {% include footer.html %}
</body>
</html>
